<%= render "home/header" %>

<div style="margin:auto;width:50%;text-align:center">
<h1>Welcome new user!</h1>

<%= form_with model: @user do |f| %>
<h3 style="margin-bottom:0px"><%= f.label :username %><br></h3>
<%= f.text_field :name, style: 'width: 60%;margin-bottom:10px' %>
<br>
<h3 style="margin-bottom:0px"><%= f.label :password %><br></h3>
<%= f.password_field :password, style: 'width: 60%;margin-bottom:10px' %>
<br>
<h3 style="margin-bottom:0px"><%= f.label :confirm_password %><br></h3>
<%= f.password_field :confirm_password, style: 'width: 60%;margin-bottom:10px' %>
<br>
<h3 style="margin-bottom:0px"><%= f.label :bio %><br></h3>
<%= f.text_field :bio, style: 'width: 60%;margin-bottom:10px' %>
<br>
<h3 style="margin-bottom:0px"><%= f.label :profile_img_url %><br></h3>
<%= f.text_field :profile_img_url, style: 'width: 60%;margin-bottom:10px' %><br>

<%= f.submit style: 'width:60%;margin-bottom:10px;border: solid 2px;background-color:white;margin-top:20px'%>

<% end %>

<p style="color:red">
  <% if flash[:errors] %>
    <% flash[:errors].each do |e| %>
      <%= e %> 
    <% end %>
  <% end %> 
</p>

</div>

