<%= render "home/header" %>

<br>
<div style="display:block;width:100%">
  <h1 style="display:block"><%= @user.name %> </h1>
  <% if @user.id == session[:user_id] %>
    <div style="text-align:end;margin-top:-45px;display:block">
      <%= link_to "Edit Profile", "/users/#{@user.id}/edit", style: "margin:10px" %>
    </div>
  <% end %>
</div>

<p style="text-align:center">total likes: <%= @user.total_rep %></p>
<br>
<img style="width:50%;margin:auto" src="<%= @user.profile_img_url %>" />
<br>

<h3 style="text-align:center;width:50%;margin:auto" ><%= @user.bio %></h3>
<br>
<% if @user.posts.length > 0 %>
<hr>
  <h3 style="padding-left: 10px">Featured Post: <%= link_to @user.top_posts.first.title, @user.top_posts.first %></h3>
<% end %>
<% if @user.subreddits.length > 0 %>
  
  <div style="padding-left: 10px">
    <h3>User Subreddits</h3>
      <% @user.subreddits.each do |sr| %>
        <li>
        <%= link_to sr.name, sr %>
        </li>
      <% end %>
<% end %>
</div>
<hr>

<div style="padding-left: 10px">
<form action="/users/filter" method="post" id="filter_form" >
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <%= hidden_field_tag :id, @user.id %>
  <select name="filter" form="filter_form">
    <option value="top posts">Top Posts</option>
    <option value="worst posts">Worst Posts</option>
    <option value="comments">Comments</option>
  </select>
  <input type="submit" value="Filter" style="border: solid 1px;text-decoriation:none;">
</form>
<div>

<br>
<% if @filter %>
  <% if @filter[:name] %>
    <h3><%= @filter[:name] %></h3>
    <% @filter[:array].each do |ele| %>
      <% if @filter[:name] != "Comments" %>
        <li><%= link_to ele[:title], "/posts/#{ele["id"]}"%></li>
      <% else %>
        <li><%= link_to ele[:content], "/posts/#{ele["post_id"]}" %></li>
      <% end %>
    <% end %> 
  <% end %>
<% end %>
<hr>

