<%= render 'header' %>

<div style="display:flex;padding:10px">
  <p style="display:inline;flex-grow:1"><%= link_to "Top Posts", "/top" %></p>
  <p style="display:inline"><%= link_to "Least Popular Posts", "/least" %></p>
</div>

<% @posts.each do |p| %>
  <div class="post_box">
    <a class="post_link" href=<%= "/posts/#{p.id}" %>>
      <h2 style="text-align:center"><%= p.title %></h2>
      <img src="<%= p.image_url %>" />
      <p style="text-align:center">likes: <%= p.reputation %> || comments <%= p.comments.count %></p> 
    </a>
  </div>  
<% end %>

<br>

<% if session[:user_id] %>

<%= link_to "Create New Subreddit", "/subreddits/new"  %>

<% end %>


<p><%= session[:user_id]  %></p>
