<%= render 'header' %>

<%= link_to "Top Posts", "/top" %>-
<%= link_to "Least Popular Posts", "/least" %>

<% @top_p.each do |p| %>
  <div class="post">
    <a href=<%= "/posts/#{p.id}" %>>
      <img src="<%= p.image_url %>" />
      <%= p.reputation %> <%= p.title %>
    </a>
  <div>
<% end %>

<br>

<% if session[:user_id] %>

<%= link_to "Create New Subreddit", "/subreddits/new"  %>

<% end %>


<p><%= session[:user_id]  %></p>
