<% if flash[:errors] %>
  <%= flash[:errors] %>
<% end %> 

<p><%= link_to "Home", "/" %></p>
<hr>
<h1><%= @subreddit.name %></h1>
<h2><%= @subreddit.description %></h2>
<% if @subreddit.user %>
  <h3>creator: <%= link_to @subreddit.user.name, @subreddit.user %></h2>
<% end %>
  
<% if session[:user_id] %>
  <% if !@subreddit.users.include?(@user) %>
    <%= form_with method: :patch, url: subreddit_path do |f| %>
    <%= f.submit "subscribe" %>  
    <% end %>
  <% else %>
    <%= form_with method: :patch, url: subreddit_path do |f| %>
    <%= f.submit "Unsubscribe" %>  
    <% end %>
  <% end %>
<% end %>
<br>
<p>Posts</p>
<hr>
<% if session[:user_id] %>
  <br>
  <%= link_to "create post", '/posts/new' %>
  <hr>
<% end %>

<% @subreddit.posts.each do |p| %>
<li>
    <%= link_to p.title, p %>
</li>  
<% end %>


<hr>

<% if @subreddit.user %>
  <% if session[:user_id] == @subreddit.user.id %>
    <%= form_with model: @subreddit, method: :delete  do |f| %>
    <%= f.submit "Delete Subreddit" %>  
    <% end %>
  <% end %>
<% end %>